<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <input type="username" class="form-control" required [(ngModel)]="model.username" name="username" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" required [(ngModel)]="model.password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-outline-success">Register</button>
      <button type="button" (click)="cancel()" class="btn btn-outline-dark">Cancel</button>
  </div>
</form>
