<div class="card">
  <div class="card-img-top">
    <img src="{{ user.photoUrl }}" alt="{{ user.knownAs }}">
  </div>
  <div class="card-body text-center">
     <div class="members-button animate">
      <a href="#" class="btn btn-primary btn-raised" [routerLink]="['/members/', user.id]"><i class="fa fa-user"></i></a>
      <a href="#" class="btn btn-danger btn-raised"><i class="fa fa-heart"></i></a>
      <a href="#" class="btn btn-success btn-raised"><i class="fa fa-envelope"></i></a>
     </div>
      <h5 class="card-title">
        {{ user.knownAs }}, {{ user.age }}
      </h5>
      <p class="card-text">
        <small>{{ user.city }}</small>
      </p>
  </div>
</div>